/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F8A16C; /* Laranja suave */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #f37021;
}

.open-btn {
    font-size: 24px;
    cursor: pointer;
    background-color: #F8A16C;
    color: white;
    padding: 15px 25px;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.open-btn:hover {
    background-color: #F37021;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 20px;
}

.hidden {
    display: none;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

@keyframes slideOut {
    from {
        width: 250px;
    }
    to {
        width: 0;
    }
}
